body{
    padding:0px;
    margin:0px;
}
.header{
    position: absolute;
   
   font-family: 'Times New Roman', Times, serif;
   font-size: 18px;
   font-weight: 20px;
}
.pic{
    height:400px;
    width:100vw;
}
img{
    width:100%;
    height: 100%;
}
.logo{
    position: absolute;
    top:200px;
    left:600px;
    color:white;
    background-color: black;
    font-size: 25px;
    font-weight: 20px;
    padding:10px 20px;
    
}
.search{
    margin-left:1080px;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
.text{
    font-size: 20px;
}
.mywork{
    margin-top: 20px;
padding-top: 20px;
    height: 200px;
    width: 200px;
    display: inline-flex;
    gap: 50px;
}
.contact{
    margin-top: 20px;
padding-top: 20px;
    height: 500px;
    width:100vw;
    font-size: 25px;
   text-align: center;
   background-color: black;
   color: white;
}
.pic2{
    height: 500px;
    width:100%;
}
.WORK{
    margin-top: 20px;
padding-top: 20px;
}
.info{
    font-size: 25px;
   font-weight: 20px;
   text-align: center;
   display: flex;
   flex-direction: column;
}
footer{
    height: 300px;
    width:100%;
    background-color: grey;

}
.foot{
    font-size: 20px;
    color: black;
    background-color: white;
    text-align: center;
    position: absolute;
    left: 700px;
    padding :10px 20px;
    margin:10px 20px;
    width: 200px;
    height: 50px;
}